@page "/portfolio"
@inherits PortfolioModel

<h3 class="fw-bolder">Overview</h3>

<hr>

<header class="py-5 bg-dark border-bottom mb-4">
    <div class="text-center my-2">
               <h4 class="fw-bolder" style="color: white">State</h4>
          </div>
    
     <div class="container">
            
              <div class="card-body table-responsive p-0" >
            <table class="table table-dark text-nowrap">
                <thead>
                    <tr>
                        <th>Spent</th>
                        <th>Earned</th>
                        <th>Estimate</th>
                        <th>&#916;Abs</th>
                        <th>&#916;Rel</th>
                    </tr>
                </thead>
                <tbody>
                @if(portfolio.Total != null)
                    {
                     <tr>
                        <td>
                            @($"{portfolio.Total?.Spent:0.00}")
                        </td>
                        <td>
                            @($"{portfolio.Total?.Earned:0.00}")
                        </td>
                        <td>
                            @($"{portfolio.Total?.Estimate:0.00}")
                        </td>
                        <td>
                            @($"{portfolio.Total?.DeltaAbs:0.00}")
                        </td>
                        <td>
                            @($"{portfolio.Total?.DeltaRel:0.00}")
                        </td>
                    </tr>
                    }
                    

                </tbody>
            </table>
        </div>
               
          </div>
     
</header>

<h4 class="fw-bolder">Products</h4>
<table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Volume</th>
                        <th>Spent</th>
                        <th>Earned</th>
                        <th>Estimate</th>
                        <th>&#916;Abs</th>
                        <th>&#916;Rel</th>
                    </tr>
                </thead>
                <tbody>
                @if(portfolio.Products != null)
        {
            @foreach (var product in portfolio.Products)
                        {
                        <tr>
                            <td>
                                <a href="/product/@product.Name/@product.Id"
                                    class="">
                                    @product.Name
                                </a>
                            </td>
                            <td>
                                @{
                                    var price = product.Price <= 0 ? "-" : product.Price.ToString();
                                }
                                @price
                            </td>
                            <td>
                                @product.VolumeActive/<span style="color:gray">@product.VolumeFrozen</span>
                            </td>
                            <td>
                                @($"{product.Spent:0.00}")
                            </td>
                            <td>
                                @($"{product.Earned:0.00}")
                            </td>
                            <td>
                                @($"{product.Estimate:0.00}")
                            </td>
                            <td>
                                @($"{product.DeltaAbs:0.00}")
                            </td>
                            <td>
                                @($"{product.DeltaRel:0.00}")
                            </td>
                        </tr>
                        }
        }
               
                </tbody>
            </table>
